*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Catamaran', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.barbers-history-imgg{
  width: 633px;
  height: 672px;
  margin-top: 177px;
}
h2{
  font-weight: bold;
  font-size: 50px;
  line-height: 116.6%;
  letter-spacing: 0.03em;
  color: #163561;
}
.history{
  justify-content: space-between;
}
span{
  color: #FBB400;
}
.history-titles{
  padding-left: 100px;
  padding-top: 270px;
}
.history-title{
  line-height: 150.6%;
  margin-bottom: 80px;
}
.history-text{
  width: 430px;
  font-weight: normal;
  font-size: 20px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  margin-bottom: 40px;
}
.history-btn{
  font-weight: bold;
  font-size: 8px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 15px 30px;
  background-color: #99BAED;
  border-radius: 13px;
  box-shadow: 0px 9px 11px -1px rgba(153, 186, 237, 0.5);
  margin-top: 50px;
  transition: all 0.4s ease;
  border: 2px solid #99BAED ;
}
.services-title{
  text-align: center;
}
.services-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services-item{
  width: 353px;
  height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFBFF;
  box-shadow: 0px 5px 0px #99BAED;
  border-radius: 29px;
  transition: all 0.5s ease;
}
.services-img{
  border: 1px solid transparent;
  padding: 30px 23px;
 
  border-radius: 13px;
}
.services-item-title{
  font-weight: bold;
  font-size: 35px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
  transition: all 0.5s ease;
}
.services-item-text{
  font-weight: normal;
  font-size: 18px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  transition: all 0.5s ease;
  padding: 0 32px;
}
.services-item:hover{
  background-color: #99BAED;
  color: #FFFFFF;
}
.services-item:hover .services-item-title {
  color: #FAFBFF;
}
.services-item:hover .services-item-text {
  color: #FAFBFF;
  opacity: 1;
}
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
}
.gallery-title{
  text-align: center;
}
.gallery-img{
  display: block;
  width: 1160px;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.gallery-btn-link{
  background-color: #99BAED;
  border-radius: 18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 12px 24px;
  transition: all 0.4s ease;
  border: 2px solid #99BAED ;
}
.gallery-btn{
  justify-content: center;
}
.btn:hover{
  background-color: #fff;
  color: #99BAED;
}